body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: beige;
}

.content {
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 10px;
}

form {
    margin-top: 20px;
}

#content {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

#btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
} 

a:link, a:visited, a:active{
    color: purple;
    text-decoration: none;
}
 
a:hover {
    color: blue;
}